body {
  font-family: 'Signika', sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  margin: 1em;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 150px;
  width: 150px;
}

/* my cart styling */
#myCart h1 {
  font-size: 40px;
}

#myCart h2 {
  font-size: 25px;
}

#myCart li {
  display: flex;
  justify-content: space-around;
}

#myCart li a {
  font-size: 25px;
}

#cart-content {
  width: 60%;
}
#cart-content p {
  font-size: 17px;
}

#edit-delete {
  display: flex;
}

#edit-delete > button {
  margin-right: 20px;
}
#edit-delete select {
  width: 10em;
  margin-right: 40px;
}

#edit-delete > div > p {
  margin-top: 5px;
}

#cartItem img {
  width: 10em;
  height: 10em;
}

#totalPrice {
  font-weight: 700;
}

#emptyCart img {
  width: 50%;
}
/* end my cart styling */

/* single product styling */

#singleProduct {
  height: 100%;
  width: 80%;
}
#singleProduct-img {
  width: 300px;
  max-height: 400px;
  margin-right: 40px;
}

#singleProduct-content {
  display: flex;
  justify-content: space-around;
}

#decrease-button {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
}
#increase-button {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 18px;
}

#singleProduct-detail p {
  font-size: 18px;
}
#singleProduct-quantityButton {
  display: flex;
}

#singleProduct-quantityButton > p {
  margin-top: 20px;
}
#singleProduct-quantityButton > button {
  margin-top: 20px;
  margin-left: 30px;
}
#singleProduct-quantityButton > div > div > p {
  margin-top: 20px;
  margin-left: 30px;
  font-size: 18px;
}
#singleProduct-quantityButton > div > p {
  margin-top: 20px;
  margin-left: 30px;
  font-size: 18px;
}

/* error messages */
.error {
  color: red;
}

/*404 page not found wrapper*/

.notfoundpage {
  color: white;
  text-align: center;
}

.wrapper {
  height: 150%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background: linear-gradient(
    124deg,
    #ff2400,
    #e81d1d,
    #e8b71d,
    #e3e81d,
    #1de840,
    #1ddde8,
    #2b1de8,
    #dd00f3,
    #dd00f3
  );
  background-size: 1800% 1800%;

  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-moz-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-o-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
