body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  margin: 1em;
}

/* my cart styling */
#myCart h1 {
  font-size: 40px;
}

#myCart h2 {
  font-size: 25px;
}

#myCart li {
  display: flex;
  justify-content: space-around;
}

#myCart li a {
  font-size: 25px;
}

#cart-content {
  width: 60%;
}
#cart-content p {
  font-size: 17px;
}

#edit-delete {
  display: flex;
}

#edit-delete > button {
  margin-right: 20px;
}
#edit-delete select {
  width: 10em;
  margin-right: 40px;
}

#cartItem img {
  width: 10em;
  height: 10em;
}

#totalPrice {
  font-weight: 700;
}
/* end my cart styling */

/* single product styling */

#singleProduct {
  height: 100%;
  width: 80%;
}
#singleProduct-img {
  width: 300px;
  max-height: 400px;
  margin-right: 40px;
}

#singleProduct-content {
  display: flex;
  justify-content: space-around;
}

#decrease-button {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
}
#increase-button {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 18px;
}

#singleProduct-detail p {
  font-size: 18px;
}
#singleProduct-quantityButton {
  display: flex;
}

#singleProduct-quantityButton > p {
  margin-top: 20px;
}
#singleProduct-quantityButton > button {
  margin-top: 20px;
  margin-left: 30px;
}
#singleProduct-quantityButton > div > p {
  margin-top: 20px;
  margin-left: 30px;
  font-size: 18px;
}

/* error messages */
.error {
  color: red;
}
